{embed="common/head_open" title="My Order History | My Profile" 
description="{exp:char_limit total="300"}{exp:siteconfig:get item='shipping_policy' remove_html="yes"}{/exp:char_limit}"
}
{embed="common/head_close"}
{embed="common/topbar"}
{embed="common/logobar"}
{embed="common/mainnav"}

<!-- ABOUT US -->
<div id="static" class="container mb20">
<div class="row">

<div class="mb20">
{embed="widgets/breadcrumbs" crumb1="My Account" crumb2="Profile"}
</div>
	
<div class="col-xs-12 col-sm-4">
{embed="widgets/my-account-links"}
</div>

<div class="col-xs-12 col-sm-8">
{embed="widgets/my-account-order-history"}
</div>


</div>
</div>
<!-- ABOUT US -->

{embed="common/subfooter"}
{embed="common/footer"}
{embed="common/foot"}