{embed="common/head_open" title="About Us" 
description="{exp:char_limit total="300"}{exp:siteconfig:get item='about_us' remove_html="yes"}{/exp:char_limit}"
}
{embed="common/head_close"}
{embed="common/topbar"}
{embed="common/logobar"}
{embed="common/mainnav"}

<!-- ABOUT US -->
<div id="static" class="container">
<div class="row">

<div class="mb20">
{embed="widgets/breadcrumbs" crumb1="About Us"}
<hr>
</div>

<div class="col-xs-12 col-sm-8">
<h2><i class="icon i-user-3"></i> About Us</h2>
{exp:siteconfig:get item="about_us"}
</div>

<div class="col-xs-12 col-sm-4">
{embed="widgets/connect-with-us"}
{embed="widgets/company-information"}
</div>
</div>
</div>
<!-- ABOUT US -->

{embed="common/subfooter"}
{embed="common/footer"}
{embed="common/foot"}