{embed="common/head_open" title="Contact Us" 
description="Send us your Enquiry/Feeback/Question and we shall get back to you within 24 working hours. You may also visit the faqs section of the website to find more information on any frequently asked question."
}
{embed="common/head_close"}
{embed="common/topbar"}
{embed="common/logobar"}
{embed="common/mainnav"}

<!-- ABOUT US -->
<div id="static" class="container">
<div class="row">
{embed="widgets/breadcrumbs" crumb1="Contact Us"}
<hr>
<div class="col-xs-12 col-sm-8">
<div class="mb20">

</div>

<h2><i class="icon i-envelop"></i> Contact Us</h2>
 <div class="col-md-12">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          <fieldset>
<legend class="text-center">Send us your Enquiry/Feeback/Question and we shall get back to you within 24 working hours.</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5" style="resize:none"></textarea>
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-warning btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
</div>

<div class="col-xs-12 col-sm-4">
{embed="widgets/connect-with-us"}
{if "{exp:siteconfig:get item='contact_us'}" != ""}
<h2>Reach Us</h2>
{exp:siteconfig:get item="contact_us"}
{/if}
</div>
</div>
</div>
<!-- ABOUT US -->

{embed="common/subfooter"}
{embed="common/footer"}
{embed="common/foot"}