{embed="common/head_open" title="Shopping Cart" 
description="{exp:char_limit total="300"}{exp:siteconfig:get item='shipping_policy' remove_html="yes"}{/exp:char_limit}"
}
{embed="common/head_close"}
{embed="common/topbar"}
{embed="common/logobar"}






{embed="widgets/cart"}


{exp:cartthrob:save_customer_info_form return="/shopping-cart" id="country"}
{if customer_country_code == ""}
<div class="modal fade" id="selectcountry" tabindex="-1" role="dialog" aria-labelledby="loginformLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">    
    <div class="panel-default" style="box-shadow:none">
   <div class="panel-heading" style="box-shadow:none; border:none"><i class="icon i-globe"></i> <strong>Please select your country</strong>  
   </div>
</div>
      <div class="modal-body" style="padding:0px 10px 10px 10px"> 
    <div class="form-group">
        <label class="col-xs-12">Please select your country to procced to checkout</label>
        <div class="col-xs-12">
          		<div class="col-xs-12 col-sm-6">
  				  {exp:cartthrob:country_select name="country_code" alpha2="yes" selected="{customer_country_code}" extra="class='form-control'" add_blank="yes"}
                  </div>
                 <div class="col-xs-12 col-sm-6">  
                  <input type="submit" value="Update Your Country" class="btn btn-primary"/>
                 </div> 
				   
        </div>
    </div>
<div class="clearfix"></div>
      </div>     
    </div>
  </div>
</div>
<script>
$(document).ready(function(e) {
$('#selectcountry').modal();
});
</script>
{/if}
{/exp:cartthrob:save_customer_info_form} 



<style>
select.form-control{width:auto}
</style>

{embed="common/subfooter"}
{embed="common/footer"}
{embed="common/foot"}                
