<div class="wg-container p20 mb20">
<div class="wg-head">
<h2>Wholesaler's Benefits (Bulk Purchase)</h2>
</div>

<div class="p10">
<h2>Looking to buy in bulk quantity?</h2>
<p class="mt5">{site_name} provides special prices and special products for wholesalers (bulk purchase). Request access to Wholesalers Area.</p>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#m_f_wholesale_request">
Request Access to Wholesale Area
</button>
</div>



<!-- Modal -->
<div class="modal fade" id="m_f_wholesale_request" tabindex="-1" role="dialog" aria-labelledby="m_f_wholesale_requestLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="m_f_wholesale_requestLabel">Request Wholesale Access</h4>
        <p>I would like to gain access to wholesale area special prices and catalogs</p>
      </div>
      <div class="modal-body">
      

<form id="signInForm" class="form-horizontal"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

    <div class="form-group">
        <label class="col-xs-12">Email Address</label>
        <div class="col-xs-12">
            <input type="text" class="form-control" name="email"
                required
                data-bv-notempty-message="Email address is required" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12">Mobile Number</label>
        <div class="col-xs-12">
            <input type="text" class="form-control" name="phone"
                required
                data-bv-notempty-message="Phone Number is required"                 
                data-bv-numeric="true"
                data-bv-numeric-message ="Phone Number is not a valid number"
                maxlength="10"
                minlength="10"
                data-bv-stringlength-min="Phone Number has to be 10 Digits"
                 />
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>
      </div>
     
    </div>
  </div>
</div>
<script>
   

$(document).ready(function() {	
    $('#signInForm').bootstrapValidator({
	    feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
	// email is required
	   fields: {
            email: {
                validators: {
                    emailAddress: {
                        message: 'The value is not a valid email address'
                    }
                }
            }
        }
   // phone numeric and 10 digits only
					
	});
});
</script>
</div>
<div class="clearfix"></div>

