<div id="myaccount-profile">
{exp:freemember:update_profile return="myaccount/" 
require="first_name|last_name|email|address_line_1|city|state|country|primary_phone|zip"  
form_class="form-horizontal"
form_id="profile"
error_handling="inline"
json="yes"
}

	<h2>Profile Information</h2>
    <p>Inorder for us to serve you better. Please provide accurate and all information below.</p>
    <div class="alert" style="display:none"></div>

	<div class="form-group">
    
    <div class="col-sm-6 mt20">
        <label class="col-sm-12">First Name</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="first_name" value="{first_name}"
                required
                data-bv-notempty-message="First Name is required" />
        </div>
    </div>

    <div class="col-sm-6 mt20">
        <label class="col-sm-12">Last Name</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="last_name" value="{last_name}"
                required
                data-bv-notempty-message="Last Name is required" />
        </div>
    </div>
    
    
    <div class="col-sm-12 mt20">
        <label class="col-sm-12">Email Address</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="email" value="{email}"
                required
                data-bv-notempty-message="Email Address is required"
                data-bv-emailaddress="true"
                data-bv-emailaddress-message="The value is not a valid email address"                
                 />
        </div>
    </div>
    
    
    <!-- Address -->
     <div class="col-sm-6 mt20">
        <label class="col-sm-12">Address Line 1</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="address_line_1" value="{address_line_1}"
                required
                data-bv-notempty-message="Address is required" />
        </div>
    </div>
    
     <div class="col-sm-6 mt20">
        <label class="col-sm-12">Address Line 2</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="address_line_2" value="{address_line_2}"/>
        </div>
    </div>
    <div class="clearfix"></div>
    
      <div class="col-sm-6 mt20">
        <label class="col-sm-12">City</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="city" value="{city}"
                required
                data-bv-notempty-message="City Name is required" />
        </div>
    </div>
    
    
     <div class="col-sm-6 mt20">
        <label class="col-sm-12">State</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="state" value="{state}"
                required
                data-bv-notempty-message="State Name is required" />
        </div>
    </div>
     <div class="clearfix"></div>
    
    
      <div class="col-sm-6 mt20">
        <label class="col-sm-12">Country</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="country" value="{country}"
                required
                data-bv-notempty-message="Country Name is required" />
        </div>
    </div>
    
    
      <div class="col-sm-6 mt20">
        <label class="col-sm-12">Zip Code</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="zip" value="{zip}"
                required
                data-bv-notempty-message="Zip/Pin Code is required" />
        </div>
    </div>
     <div class="clearfix"></div>
    
    
     <div class="col-sm-6 mt20">
        <label class="col-sm-12">Primary Phone Number</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="primary_phone" value="{primary_phone}"
                required
                data-bv-notempty-message="Primary Phone Number is required" />
        </div>
    </div>
    
     <div class="col-sm-6 mt20">
        <label class="col-sm-12">Secondary Phone Number</label>
        <div class="col-sm-12">
            <input type="text" class="form-control  input-lg" name="secondary_phone" value="{secondary_phone}"
            />
        </div>
    </div>
     <div class="clearfix"></div>
    
   <!-- Address -->
    

    <div class="col-sm-12 mt20">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success pull-left">Sign in</button>
             <div class="loader pull-left ml20 mt5" style="display:none"></div>  
             <div class="clearfix"></div>
        </div>
    </div>
   </div> 

{/exp:freemember:update_profile}
</div>

<style>
.loader{width:25px; height:25px; background:url({skin_url}/images/global/spinner.gif) no-repeat;}
</style>
<script>
$(document).ready(function(e) {   

$('#profile').bootstrapValidator(
	{
		feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        }
	}
	);
	
	
		 
$('#profile').ajaxForm({
	dataType: 'json',
	beforeSubmit: function () {
	$(".loader").css("display","block");
	//$(".spinner").html("Processing .... ");
	},
	success: function(data) {	
	$(".loader").css("display","none");
	window.scrollTo(0,0);
	//$("#progress").removeClass("spinner");	
	//alert(data.errors.toSource());
	 if (data.success) {
	// alert the message
	$('.alert').removeClass('alert-danger');
	$('.alert').addClass('alert-success');
	$('.alert').html('<strong>Profile Uploaded Successfully</strong>');
	$(".alert").show();
	$(".alert").fadeOut(3000); 	 
	} 		 
	 else{	
	$.each( data.errors, function( i, v ) {	
	$("input[name=XID]").val(data.XID);			 			
	$('.alert').html('<strong>'+v+'</strong>');
	$('.alert').removeClass('alert-success');
	$('.alert').addClass('alert-danger');
	$('.alert').show();	
	});
	
		 }
	}	
	});

});
</script>