{exp:channel:entries channel="products" limit="1" track_views="one"}    
<div class="container mb50" id="product_view">
<div class="row">
{embed="widgets/breadcrumbs"  crumb1="{title}"}
</div>
<div class="row">
      
      <div class="col-md-4">
      {pi limit="1"}
      <img src='{pi:image}' data-zoom-image="{pi:image}" class="img-responsive img-thumbnail" id="prd"/>
      {/pi}       
      <div id="gallery" class="mt10">
      {pi}
       <a href="#" data-image="{pi:image}" data-zoom-image="{pi:image}"> 
      <img id="prd" src="{pi:image:thumbs}" class="img-thumbnail" />
      </a> 
      {/pi}     
      </div>
      </div>
        
      <div class="hidden-xs col-md-1">
      <div class="views" style="border:1px solid #ccc; width:70px; height:70px; position:absolute;top:5px; left:-16px; text-align:center; border-left:0px; border-radius:0px 3px 3px 0px; box-shadow:3px 3px 3px #ddd; font-size:12px;">
      <i class="icon i-eye" style="font-size:20px; color:#ccc"></i><br>
      ({view_count_one})<br>
      Views
      </div>
      
      <div class="views" style="border:1px solid #ccc; width:70px; height:70px; position:absolute;top:100px; left:-16px; text-align:center; border-left:0px; border-radius:0px 3px 3px 0px; box-shadow:3px 3px 3px #ddd; font-size:12px;">
      <i class="icon i-pencil" style="font-size:20px; color:#ccc"></i><br>
      ({comment_total})<br>
      Reviews
      </div>
      
      </div>  
        
        
        <div class="col-md-7">
        <h1>{title}</h1>
       	<!-- Attributes -->
        <p>
        {a}
        {if a:an != "" && a:av != ""}
        {if a:count == 1}
        <table class="table table-striped" style="border:1px solid #ccc">
        <tbody>
		{/if}        
        <tr>
        <td>{a:an}</td>
        <td> : </td>
        <td>{a:av}</td>        
       
        </tr>
        {if a:count == a:total_rows}
        </tbody>
        </table>
        {/if}        
        
        {/if}
        {/a}
        </p>
        <!-- Attributes -->
        <div class="row">
        
            <div class="col-md-6">
            
            <!-- Add to Wishlist -->
            <div  class="pull-left">
            {exp:mtt_favourites:form            
            entry_id="{entry_id}" 
            return="{current_url}"
            form_id="wishlist"
            } 
            <span class="glyphicon glyphicon-heart" style="color:#C00"></span><div class="loader pull-left" style="display:none"></div>    
			{if '{exp:mtt_favourites:saved entry_id="{entry_id}"}' == 'y'}
            <input type="submit" name="wishlist" id="bt"  value="Remove from Wishlist" class="btn btn-default btn-xs" style="border:none">     
            {if:else}
            <input type="submit" name="wishlist" id="bt"  value="Add to Wishlist" class="btn btn-default btn-xs" style="border:none"> 
            {/if}
            {/exp:mtt_favourites:form}           
            
            </div>
            <!-- Add to Wishlist -->
            <div class="pull-left" style="font-size:11px; margin-top:3px">| <span class="glyphicon glyphicon-star" style="color:#FF8600"></span> {exp:ls_ratings:avg_score entry_id="{entry_id}"}</div>
            <div class="clearfix"></div>
            
            
            <div class="mt10">Product Code : {product_sku}</div>
            <div class="sp">{exp:currency_select:converted price="{op:numeric}"}</div>
            
            {if "{exp:currency_select:get_currency_code}" != "INR"}
            <div class="info">Extra Shipping Charges will be applicable for overseas orders.</div>
            {/if}
            
       		<div class="stock">In Stock</div>
        	<div class="stock">Delivery : {exp:siteconfig:get item="default_shipping_duration"}</div>
            <div class="info mt10">Share this product with your friends</div>
            <div>{exp:ls_socialshare sites="Facebook|Google+|Twitter|LinkedIn|Pinterest" entry_id="{entry_id}" field_name="entry_id" pinterest_media="{pi}{pi:image}{/pi}"}</div>
            <div class="clearfix"></div>
            </div>
            
           
            
            {exp:cartthrob:add_to_cart_form
			entry_id="{entry_id}"
			return="/shopping-cart"
			}
            <div class="col-md-6 mt10"  style="border-left:1px solid #ccc">
            <div>
            {exp:cartthrob:item_options entry_id="{entry_id}" }
			{select}
			<i class="loader"></i><option {selected} value="{option_value}">{option_name} {price}</option>
			{/select}
			{/exp:cartthrob:item_options} 
            </div>
            
            <div class="mt20">
            <button class="btn btn-danger btn-lg">Add to Cart</button>
            </div>
            <div>
            
            <div class="mt30">
           
            <i class="icon i-cart"></i>100% Secure Shopping<br>
            <i class="icon i-spinner-6"></i>Easy Returns<br>
            <div style="margin-left:8px;"><strong style=" font-size:16px">{exp:currency_select:converted_symbol price="{op:numeric}"}</strong><span class="ml5">Lowest Price</span></div>
            </div>
            <i class="icon i-thumbs-up"></i>100% Quality Assured<br>
            
             </div>
            
            </div>            
			{/exp:cartthrob:add_to_cart_form}  
          </div>
          
          
           <!-- Tabs -->
            <div id="tabs">
<ul>
<li><a href="#tabs-1">Product Description</a></li>
<li><a href="#tabs-2">Reviews</a></li>
<li><a href="#reviews">Write a Review</a></li>
</ul>
<div id="tabs-1">
<p>{product_description}</p>
</div>
<div id="tabs-2">
<p>{embed="widgets/product_reviews" entry_id="{entry_id}"}</p>
</div>
<div id="reviews">
<p>{embed="widgets/f_commentform" entry_id="{entry_id}"}</p>
</div>
</div>
           <!-- Tabs -->
          
          </div>
</div>
</div> 
{/exp:channel:entries}
<script>
$(document).ready(function(e) { 
/* Wishlist */		 
$('#wishlist').ajaxForm({
	dataType: 'json',
	beforeSubmit: function () {
	$(".loader").css("display","block");
	//$(".spinner").html("Processing .... ");
	},
	success: function(data) {	
	$(".loader").css("display","none");
	window.scrollTo(0,0);
	//$("#progress").removeClass("spinner");	
	//alert(data.errors.toSource());
	if (data.success) {
	var bt = $('#bt');
	val = bt.val();
	bt.val(val === "Remove from Wishlist" ? "Add to Wishlist" : "Remove from Wishlist");
	} 		 
	 else if (data.error){			
	//alert('Something went wrong');
	$('#loginform').modal() 
	};			 
	}	
	});
/* Wishlist */

 $( "#tabs" ).tabs();
});
</script>