<!-- searchbox -->
<div class="col-md-1">
<div class= "clearfix"></div>
</div>

<div class="col-md-10">
{exp:mtt_search:form result_page="search/results" form_class="navbar-form  pull-right"}
    <div class="">
    <input class="form-control input-lg" name="qt" value="" type="text" placeholder="Enter Search Keywords">
  </div>        

    
    </div>
    <div class="">
    <button type="submit" class="btn btn-default btn-lg">Submit</button>
    </div>
{/exp:mtt_search:form}             
</div>


</div>
<div class="col-md-1">
<div class= "clearfix"></div>
</div>
</div>
<!-- searchbox -->

