{exp:channel:entries channel="store_design" limit="1"} 
<div id="products">







<!-- Showcase 1 -->
{if homepage_showcase_1}
{homepage_showcase_1} 	
        
        {if homepage_showcase_1:showcase_heading}
        <h2 style="margin-left:25px; border-bottom:1px dotted #ccc; margin-right:25px; font-size:24px; color:#000; font-weight:bolder; letter-spacing:0px">						        {homepage_showcase_1:showcase_heading}
        </h2>
        {/if}
		{homepage_showcase_1:showcase_products}
		<div class="col-sm-4">
        <a href="{site_url}view/{homepage_showcase_1:showcase_products:url_title}">
            <div class="img-overlay">
            
            	{homepage_showcase_1:showcase_products:pi  limit="1"}
                <img src="{homepage_showcase_1:showcase_products:pi:image:medium}" class="img-responsive img-thumbnail"/>
                {/homepage_showcase_1:showcase_products:pi}
               
                <div class="project-overlay">
                <p class="mb10">{homepage_showcase_1:showcase_products:title}</p>
                
                <p style="padding:4px; opacity:0.8; color:#ff0; font-size:100%">{homepage_showcase_1:showcase_products:rp}</p>
                
                <button type="submit" class="btn btn-default mb5">
 				 <i class="icon i-heart"></i>Add to Wishlist
			    </button>
                
               <button type="submit" class="btn btn-warning mb10">
 				 <i class="icon i-cart"></i>Add to Cart
			   </button>
                </div>
            </div>            
        </a>
        </div>
      {/homepage_showcase_1:showcase_products}   
        <div class="clearfix"></div> 
{/homepage_showcase_1}
{/if}     
<!-- Showcase 1 -->


<!-- Showcase 2 -->
{if homepage_showcase_2}
{homepage_showcase_2} 	
        
        {if homepage_showcase_2:showcase_heading}
        <h2 style="margin-left:25px; border-bottom:1px dotted #ccc; margin-right:25px; font-size:24px; color:#000; font-weight:bolder; letter-spacing:0px">						        {homepage_showcase_2:showcase_heading}
        </h2>
        {/if}
		{homepage_showcase_2:showcase_products}
		<div class="col-sm-4">
        <a href="{site_url}view/{homepage_showcase_2:showcase_products:url_title}">
            <div class="img-overlay">
            
            	{homepage_showcase_2:showcase_products:pi  limit="1"}
                <img src="{homepage_showcase_2:showcase_products:pi:image:medium}" class="img-responsive img-thumbnail"/>
                {/homepage_showcase_2:showcase_products:pi}
               
                <div class="project-overlay">
                <p class="mb10">{homepage_showcase_2:showcase_products:title}</p>
                
                <p style="padding:4px; opacity:0.8; color:#ff0; font-size:100%">{homepage_showcase_2:showcase_products:rp}</p>
                
                <button type="submit" class="btn btn-default mb5">
 				 <i class="icon i-heart"></i>Add to Wishlist
			    </button>
                
               <button type="submit" class="btn btn-warning mb10">
 				 <i class="icon i-cart"></i>Add to Cart
			   </button>
                </div>
            </div>            
        </a>
        </div>
      {/homepage_showcase_2:showcase_products}   
        <div class="clearfix"></div> 
{/homepage_showcase_2}
{/if}     
<!-- Showcase 2 -->




<!-- Showcase 3 -->
{if homepage_showcase_3}
{homepage_showcase_3} 	
        
        {if homepage_showcase_3:showcase_heading}
        <h2 style="margin-left:25px; border-bottom:1px dotted #ccc; margin-right:25px; font-size:24px; color:#000; font-weight:bolder; letter-spacing:0px">						        {homepage_showcase_3:showcase_heading}
        </h2>
        {/if}
		{homepage_showcase_3:showcase_products}
		<div class="col-sm-4">
        <a href="{site_url}view/{homepage_showcase_3:showcase_products:url_title}">
            <div class="img-overlay">
            
            	{homepage_showcase_3:showcase_products:pi  limit="1"}
                <img src="{homepage_showcase_3:showcase_products:pi:image:medium}" class="img-responsive img-thumbnail"/>
                {/homepage_showcase_3:showcase_products:pi}
               
                <div class="project-overlay">
                <p class="mb10">{homepage_showcase_3:showcase_products:title}</p>
                
                <p style="padding:4px; opacity:0.8; color:#ff0; font-size:100%">{homepage_showcase_3:showcase_products:rp}</p>
                
                <button type="submit" class="btn btn-default mb5">
 				 <i class="icon i-heart"></i>Add to Wishlist
			    </button>
                
               <button type="submit" class="btn btn-warning mb10">
 				 <i class="icon i-cart"></i>Add to Cart
			   </button>
                </div>
            </div>            
        </a>
        </div>
      {/homepage_showcase_3:showcase_products}   
        <div class="clearfix"></div> 
{/homepage_showcase_3}
{/if}     
<!-- Showcase 3 -->







<!-- Showcase 4 -->
{if homepage_showcase_4}
{homepage_showcase_4} 	
        
        {if homepage_showcase_4:showcase_heading}
        <h2 style="margin-left:25px; border-bottom:1px dotted #ccc; margin-right:25px; font-size:24px; color:#000; font-weight:bolder; letter-spacing:0px">						        {homepage_showcase_4:showcase_heading}
        </h2>
        {/if}
		{homepage_showcase_4:showcase_products}
		<div class="col-sm-4">
        <a href="{site_url}view/{homepage_showcase_4:showcase_products:url_title}">
            <div class="img-overlay">
            
            	{homepage_showcase_4:showcase_products:pi  limit="1"}
                <img src="{homepage_showcase_4:showcase_products:pi:image:medium}" class="img-responsive img-thumbnail"/>
                {/homepage_showcase_4:showcase_products:pi}
               
                <div class="project-overlay">
                <p class="mb10">{homepage_showcase_4:showcase_products:title}</p>
                
                <p style="padding:4px; opacity:0.8; color:#ff0; font-size:100%">{homepage_showcase_4:showcase_products:rp}</p>
                
                <button type="submit" class="btn btn-default mb5">
 				 <i class="icon i-heart"></i>Add to Wishlist
			    </button>
                
               <button type="submit" class="btn btn-warning mb10">
 				 <i class="icon i-cart"></i>Add to Cart
			   </button>
                </div>
            </div>            
        </a>
        </div>
      {/homepage_showcase_4:showcase_products}   
        <div class="clearfix"></div> 
{/homepage_showcase_4}
{/if}     
<!-- Showcase 3 -->



</div>
{/exp:channel:entries}
        
        
       
   
