<link rel="stylesheet" type="text/css" href="{skin_url}/plugins/countdown/css/countdown.css" media="screen" />
<script src="{skin_url}/plugins/countdown/js/countdown.min.js"></script>
 <script>
      $(function(){

$('[data-countdown]').each(function() {
var $this = $(this), finalDate = $(this).data('countdown');
$this.countdown(finalDate, function(event) {
$this.html(event.strftime('%D days %H:%M:%S'));
});
});

});
    </script>

<div class="col-xs-12 col-sm-9">

<!-- Product  List --> 
 <div class="col-12" id="products">
 
  <!-- Tool Bar -->       
	<div class="panel panel-default">
    <div class="panel-heading">Currently Shopping By</div>
    <div class="panel-body">
    <div id="current_search">
    {embed="widgets/currently_searching_by"}
    </div>
    </div>
    </div>
  <!-- Tool Bar -->
     
{exp:mtt_search:results query="{segment_3}" 
limit="{exp:storecat:limit}"
collection="products|wholesale"
paginate="top"
{if segment_1 == "list"}
category="{segment_2_category_id}"
{/if}
orderby="{exp:storecat:filter}{orderby}{/exp:storecat:filter}"
sort="{exp:storecat:filter}{sort}{/exp:storecat:filter}"
parse="inward"
limit="5"
status="Wholesale Only"
}
	
   
   
    <div id="">
     {paginate}
  {pagination_links}
   <nav>
  <ul class="pagination">
      {first_page}
        <li><a href="{pagination_url}" class="page-first">First Page</a></li>
      {/first_page}

      {previous_page}
        <li><a href="{pagination_url}" class="page-previous">Previous Page</a></li>
      {/previous_page}

      {page}
        <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
      {/page}

      {next_page}
        <li><a href="{pagination_url}" class="page-next">Next Page</a></li>
      {/next_page}

      {last_page}
        <li><a href="{pagination_url}" class="page-last">Last Page</a></li>
      {/last_page}
    </ul></nav>
  {/pagination_links}
	{/paginate}
    </div>
   
   
    
    
	
 	<!-- Grid View -->  
    <div class="col-xs-12 col-sm-4">    
    <a href="#">
            <div class="img-overlay">          
            	{if channel_name == "wholesale"}
            	
                {if wholesale_cover_image}
                <img src="{wholesale_cover_image:medium}" class="img-responsive  img-thumbnail"/> 
                {if:else}               
                {wholesale_products:pi limit="1"}
                <img src="{wholesale_products:pi:image:medium}" class="img-responsive img-thumbnail"/> 
                {/wholesale_products:pi}         
                {/if}   
                
                {if wop && wop > wp}        
                <div class="pricetag op">
                <div class="tag_inactive"></div>
              	<div class="price inactive">                
                 <div class="mt5 mr10">Regular Price : {exp:currency_select:converted price="{wop:numeric}"}</div>
                </div>
                <div class="clearfix"></div>
                </div>
                {/if}
                
                 <div class="pricetag sp">
                <div class="tag"></div>
              	<div class="price">                
                 <div class="mt5 mr10">Bulk Price :
                 {exp:currency_select:wholesale_converted wp='{wp:numeric}' entry_id='{entry_id}'}
                 </div>
                </div>
                <div class="clearfix"></div>
                </div>
                
             	{if "{wholesale_products:total_results}" > 1}
                <div class="catalogtag">
                <div class="">Catalog<br>
                <span>{wholesale_products:total_results} Styles</span>  <br>
                Inside              
                </div>
                </div>
                {/if}
              	
                {if minimum_wholesale_quantity && minimum_wholesale_quantity < wholesale_inventory}
              	<div class="minqty">
                Min Qty
                {minimum_wholesale_quantity}
                </div>
                {/if}
                
              
                
                {if "{expiration_date}"}
                <div class="timer">
                <span style="color:#fff">Limited Time Only</span> <span  data-countdown="{expiration_date format="%Y/%m/%d"}"></span> <span style="color:#fff">left</span>                   
                </div>
                {/if} 
                
                
                <div class="project-overlay">
                <p class="mb10"><a href="{site_url}view/{url_title}">{exp:char_limit total="50"}{title}{/exp:char_limit}</a><br></p>
                <p style="padding:4px; opacity:0.8; color:#ff0; font-size:100%">
                {exp:currency_select:wholesale_converted wp='{wp:numeric}' entry_id='{entry_id}'}
                </p>
                <button type="submit" class="btn btn-default mb5">
 				 <i class="icon i-heart"></i>Add to Wishlist
			    </button>                
                {exp:cartthrob:add_to_cart_form
                entry_id="{entry_id}"
                return="/shopping-cart"                
                
                allow_user_price="yes"
                }    
                
                <input name="price" type="hidden" value="{exp:currency_select:wholesale_converted_numeric wp='{wp:numeric}' entry_id='{entry_id}'}" />
                <input type="hidden" name="quantity" size="5" value="{if minimum_wholesale_quantity && minimum_wholesale_quantity < wholesale_inventory}{minimum_wholesale_quantity}{if:else}1{/if}" />
                <button type="submit" class="btn btn-warning mb10">
                <i class="icon i-cart"></i>Add to Cart
                </button>
                {/exp:cartthrob:add_to_cart_form}                
                </div>
                
                {/if}
                
                
               
                
               
                
                
                {if channel_name == "products"}
            	{pi limit="1" search:c="{mtt_search_search:pi:c}"} 
                <img src="{pi:image:medium}" class="img-responsive  img-thumbnail"/>               
                <div class="pricetag op">
                <div class="tag_inactive"></div>
              	<div class="price inactive">                
                 <div class="mt5 mr10">Retail Price : {exp:currency_select:converted price="{rp:numeric}"}</div>
                </div>
                <div class="clearfix"></div>
                </div>
                
                 <div class="pricetag sp">
                <div class="tag"></div>
              	<div class="price">                
                 <div class="mt5 mr10">Wholesale Price : {exp:currency_select:converted price="{pwp:numeric}"}</div>
                </div>
                <div class="clearfix"></div>
                </div>
                
                {if pwp && pwp < rp}
                <div class="savings">
                <div class="percent">You Save<br>
                <span>{exp:currency_select:savings op="{rp:numeric}" sp="{pwp:numeric}"}</span>                
                </div>
                </div>
                {/if}               
             
                
                {if "{expiration_date}"}
                <div class="timer">
                <span style="color:#fff">Limited Time Only</span> <span  data-countdown="{expiration_date format="%Y/%m/%d"}"></span> <span style="color:#fff">left</span>                   
                </div>
                {/if} 
                
                           
                {/pi}   
                
                <div class="project-overlay">
                <p class="mb10"><a href="{site_url}view/{url_title}">{exp:char_limit total="50"}{title}{/exp:char_limit}</a><br></p>
                <p style="padding:4px; opacity:0.8; color:#ff0; font-size:100%">
                {if pwp}{exp:currency_select:converted price="{pwp:numeric}"}
                {if:else}
                {exp:currency_select:converted price="{rp:numeric}"}
                {/if}
                </p>
                <button type="submit" class="btn btn-default mb5">
 				 <i class="icon i-heart"></i>Add to Wishlist
			    </button>                
                {exp:cartthrob:add_to_cart_form
                entry_id="{entry_id}"
                return="/shopping-cart"
                {if pwp}
                price = "{exp:currency_select:converted price='{pwp:numeric}'}"
                {if:else}
                price = "{exp:currency_select:converted price='{rp:numeric}'}"
                {/if}   
                }     
                <input type="hidden" name="quantity" size="5" value="{if minimum_wholesale_quantity && minimum_wholesale_quantity < wholesale_inventory}{minimum_wholesale_quantity}{if:else}1{/if}" />
                <button type="submit" class="btn btn-warning mb10">
                <i class="icon i-cart"></i>Add to Cart
                </button>
                {/exp:cartthrob:add_to_cart_form}                
                </div>                
                           
                {/if}
                
                
                
            </div>   
            
            
            
            	
                
                  
        </a>      
        
    </div>
    <!-- Grid View -->
    
    
    
    
    
    

{/exp:mtt_search:results}
</div>
    
    
    
</div>
<!-- Product List-->
