<!DOCTYPE html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="LiveShop" />
<title>{if embed:title}{embed:title} | {/if}{site_name}</title>

{if embed:description}
<meta name="description" content="{embed:description}" />
{/if}
{if embed:keywords}
<meta name="keywords" content="{embed:keywords}" />
{/if}

<!-- Default CSS -->
<link rel="stylesheet" type="text/css" href="{skin_url}/defaults/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{skin_url}/defaults/css/qk.css" media="screen" />
<!-- Default CSS -->

<!-- Theme Default CSS -->
<link rel="stylesheet prefetch" type="text/css" href="{skin_url}/defaults/css/iconmoon.css" media="screen" />
<!-- Theme Default CSS -->
<script src="{skin_url}/js/jquery-1.11.0.js"></script>
<link rel="stylesheet" type="text/css" href="{skin_url}/css/jquery-ui-1.11.2.css" media="screen" />
<script src="{skin_url}/js/jquery-ui-1.11.2.js"></script>


<!-- Custom -->
<link rel="stylesheet" type="text/css" href="{skin_url}/css/style2.css" media="screen" />
<script src="{skin_url}/plugins/banner.js"></script>


