<!-- LOGO BAR -->
<div id="logobar">
<div class="container">
	<div class="row">
    	
        <div class="col-md-3">
        <a href="{site_url}"><img src="{skin_url}/images/global/logo.png" class="img-responsive center-to-left" alt="{site_url}"></a>
        </div>
        
        <div class="col-md-6">
        {embed="widgets/search"}
        </div>
        
        {if segment_1 == "wholesale"}
        {if logged_in}
            {if group_id ==1 && "{exp:siteconfig:get item='allow_wholesale'}" == "yes"}
            <div class="col-md-3 mt20">
                <h2><span class="btn btn-danger" style="cursor:default"><i class="icon i-stack"></i>  You are in Wholesale Area</span></h2> 	
                <div class="mt10"><a href="{site_url}list/"><i class="icon i-arrow-left"></i>Back to Retail Area</a></div> 
                </div>
                
            {/if}
        {/if}
        {/if}
              
        
    </div>
</div>
</div>
<!-- LOGO BAR -->
