<style>@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
}

#mainnav .navbar-default .navbar-nav>li>a {
    width:150px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 14px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}
#mainnav .navbar-default{}
</style>
<div id="mainnav">
<div class="container" style="margin-top:10px;">
<nav class="navbar navbar-default">
    <div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
	</div>
	
	
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown mega-dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Our Collection
                <div class="glyphicon glyphicon-chevron-down pull-right" style="margin-top:3px"></div></a>
				
				<ul class="dropdown-menu mega-dropdown-menu row">
					
                    
                   <div class="col-sm-3">
                    <li class="col-sm-12">
						<ul>
							<li class="dropdown-header">New in Stores</li>                            
                           
                           
                           
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                              
                               {exp:channel:entries channel="products" limit="5"}
                                <div class="item {if count == 1}active{/if}">
                                {pi limit="1"}
                                    <a href="#">
                                    <img src="{pi:image}" class="img-responsive" alt="{pi:caption}">
                                    </a>
                                {/pi} 
                                 <h4><small>{title}</small></h4>                                        
                                    <button class="btn btn-primary" type="button">{product_price}</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-cart"></span>Buy Now</button>        
                                </div><!-- End Item -->
                                {/exp:channel:entries} 
                                
                                
                                
                                                            
                              </div><!-- End Carousel Inner -->
                            </div><!-- /.carousel -->
                            
                            
                            
                            <li class="divider"></li>
                            <li><a href="{site_url}list">View all Collection <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
						</ul>
					</li>
                    </div>
                    
                    
                    <div class="col-sm-9">
                    {exp:channel:categories style="linear" parent_only="yes"  category_group="1"}
					<li class="col-sm-4">
						<ul style="list-style:none">
						<a href="{site_url}list/{category_url_title}"><li class="dropdown-header">{category_name}</li></a>                         
                    <div style="min-height:80px; {if "{exp:storecat:total parent='{category_id}'}" > 0}border:1px solid #efefef; background:#fcfcfc; {/if} padding:10px; font-size:12px;">
                    {exp:storecat:subcategory parent="{category_id}" limit="3"}
                    <li><a href="{site_url}list/{child_category_url}" style="color:#3c3c3c">{child_category}</a></li>       
                    {/exp:storecat:subcategory}	
                    </div>	
                                        <li class="mt5"><a href="#"  style="color:#3c3c3c"><i class="icon i-eye" style="color:#d50e53"></i>View All</a></li>					
							<li class="divider"></li>						
						</ul>
					</li>
                    {/exp:channel:categories}					
                    </div>
                    
				</ul>
				
			</li>
		</ul>
        
       <ul class="nav navbar-nav">
			<li class="">
				<a href="#">New Arrivals</span></a>
         </li>
       </ul>
       
       
        <ul class="nav navbar-nav">
			<li class="">
				<a href="#">Best Sellers</span></a>
         </li>
       </ul>
       
       
        
        <ul class="nav navbar-nav">
			<li class="">
				<a href="#">Most Viewed</span></a>
         </li>
       </ul>
       
       
       
        <ul class="nav navbar-nav">
			<li class="">
				<a href="#">Editors Pick</span></a>
         </li>
       </ul>
       
       
       
    
		
	</div><!-- /.nav-collapse -->
</nav>
</div>
</div>
