<div id="promises" class="container">
<div class="row text-center">
		
        <div class="col-sm-5">
		<div class="col-md-3 col-xs-6">
            <button type="button" class="btn btn-info btn-circle" disabled="disabled">
            <i class="icon i-user"></i>
            </button>
            <p>Wholesaler<br>Benefits</p>
        </div>
        
        <div class="col-md-3  col-xs-6">
            <button type="button" class="btn btn-danger btn-circle" disabled="disabled">
            <i class="icon i-airplane"></i>
            </button>
            <p>Hassle Free<br>Delivery</p>
        </div>
        
        <div class="col-md-3  col-xs-6">
            <button type="button" class="btn btn-warning btn-circle" disabled="disabled">
            <i class="icon i-thumbs-up"></i>
            </button>
            <p>100% Customer<br>Satisfaction</p>
        </div> 
        
         <div class="col-md-3  col-xs-6">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled">
            <span>&#8377;</span>
            </button>
            <p>Lowest <br>Price</p>
         </div> 
         </div>
         
         <div class="col-sm-7">
         {embed="widgets/testimonials"}
         </div>
         
         
         
</div>
</div>
